/*
* @Author: zenda
* @Email: 1606726646@qq.com
* @Description: Ψ(^._.^)Ψ  have a nice day~~~
* @Date:               2016-10-06 14:56:41
* @Last Modified by:   Administrator
* @Last Modified time: 2016-10-09 10:58:58
*/

*{
	padding:0;
	margin:0;
}
body{
	font-family: "Arial","Adelle W01 Bold", Arvo, Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
p{
	font-family: "Open Sans", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a{
	color: #F96518;
}
#fullpage-nav{
    width: 100%;
    position: fixed;
    height: 60px;
    z-index: 9999;
    top: 20px;
    background: url(../img/JNFLS_navbar.jpg);
}
ul.nav li.active{
    background: url(../img/JNFLS_navbar_active.jpg) repeat-x;
}
#fullpage-nav ul.nav{
	font-family: "微软雅黑";
	font-size: 20px;
    width: 80%;
    margin: 0 auto;
    list-style: none;
    display: block;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    
}
#fullpage-nav ul.nav li{
    width: 90px;
    float: left;
    padding:0 30px;
}
#fullpage-nav ul.item{
	list-style: none;									
	height: 40px;
	line-height: 40px;
}
#fullpage-nav ul.item li{
	margin-left: -50px;
	background: #353434;
	width: 200px;
	display: block;	
	clear: both;
	font-size: 14px;
	padding: 5px;
	border-bottom: 1px solid #ECE6E6;
}
.item2{
	display: none;
}
#fullpage-nav ul.item li:hover,#fullpage-nav ul.item li.itemact{
	background: #fff;
	color: #000;
	font-size: 18px;
}
.item2 li:hover{	
	transition: all 300ms ease-in;
	-webkit-transition: all 300ms ease-in;
	-ms-transition: all 300ms ease-in;
	-o-transition: all 300ms ease-in;
	-moz-transition: all 300ms ease-in;
	cursor: pointer;
	overflow: hidden;
}
#JNFLS_container{
	width: 80%;
	height: auto;
	margin: 0 auto;
	padding-top: 100px;
}