/*
* @Author: zenda
* @Email: 1606726646@qq.com
* @Description: Ψ(^._.^)Ψ  have a nice day~~~
* @Date:               2016-10-06 15:00:22
* @Last Modified by:   Administrator
* @Last Modified time: 2016-10-09 09:01:49
*/

#proof_container{
	width: 80%;
	height: auto;
	margin: 0 auto;
	padding-top: 100px;
}
#proof_container h2{
	text-indent: 2em;
	font-size: 20px;
	font-weight: normal;
}
#proof_container h3{
	margin-top: 10px;
	font-weight: normal;
	font-size: 24px;
	padding: 10px;
	border-left: 5px solid #FF6B06;
	color: #FF6B06;
	text-indent: 20px;
}
#proof_container p{
	font-size: 16px;
	margin-top: 10px;
	text-indent: 2em;
	background: #F9D4A8;
	padding: 20px;
}
#proof_container img{
	width: 100%;
	height: 300px;
}
